/*********************/
/* CUSTOM PROPERTIES & FONTS */
/*********************/

:root {
  --primary-color-text: #000000;
  --secondary-color-text: hsla(0, 0%, 0%, 0.6);
  --secondary-color-text-hover: hsla(0, 0%, 0%, 0.8);
  --tertiary-color-text: hsla(0, 0%, 0%, 0.8);
  --footer-color-text: hsla(0, 0%, 0%, 0.7);
  --primary-color-background: #f1f1f1;
  --sidemenu-background: #ffffff;
  --sidemenu-background-hover: rgba(0, 0, 10, 0.15);
  --global-background: rgba(0, 0, 0, 0.1);
  --global-color-high: hsla(0, 0%, 0%, 0.85);
  --global-color-low: hsla(0, 0%, 0%, 0.5);
  --global-link-color: #52b1dc;
  --form-background: hsla(0, 0%, 0%, 0.1);
  --form-color: hsla(0, 0%, 0%, 0.6);
  --icon-fallback: rgba(255, 255, 255, 0);
  --main-accent: rgba(0, 0, 0, 0.65);
  --box-shadow-link: 0 0.5rem 0 0 rgba(0, 0, 0, 0.4);
  --player-rating: rgb(139, 137, 135);
  --link-hover-background: hsla(0, 0%, 0%, 0.25);
  --primary-font: Segoe UI, system-ui, Helvetica, Arial, sans-serif;
  --secondary-font: montserrat, sans-serif;
  --icon-font: Chess new;
  --side-padding: 0.7rem;
  --nav-icon-pos: -2.2rem -36.6rem;
}

.dark-mode {
  --primary-color-text: #ffffff;
  --secondary-color-text: hsla(0, 0%, 100%, 0.4);
  --secondary-color-text-hover: hsla(0, 0%, 100%, 0.65);
  --tertiary-color-text: hsla(0, 0%, 100%, 0.8);
  --footer-color-text: hsla(0, 0%, 100%, 0.5);
  --primary-color-background: #312e2b;
  --sidemenu-background: #262421;
  --sidemenu-background-hover: rgba(0, 0, 10, 0.15);
  --global-background: rgba(0, 0, 0, 0.2);
  --global-color-high: hsla(0, 0%, 100%, 0.85);
  --global-color-low: hsla(0, 0%, 100%, 0.5);
  --form-background: hsla(0, 0%, 100%, 0.1);
  --form-color: hsla(0, 0%, 100%, 0.3);
  --icon-fallback: rgba(0, 0, 0, 0);
  --main-accent: rgba(0, 0, 0, 0.5);
  --player-rating: rgb(139, 137, 135);
  --link-hover-background: hsla(0, 0%, 100%, 0.05);
  --nav-icon-pos: -2.2rem 0.3rem;
}

@font-face {
  font-family: Chess new;
  src: url(./chessglyph-new.11d668b6.woff2);
}

aside.removeAd {
  display: none;
}

/* a11y hidden class  */
.visually-hidden {
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  height: 1px;
  overflow: hidden;
  position: absolute;
  white-space: nowrap;
  width: 1px;
}

.piece-taken {
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  height: 1px;
  overflow: hidden;
  position: absolute;
  white-space: nowrap;
  width: 1px;
  transform: translate(-99999%, 0%);
}

.no-scroll {
  overflow: hidden;
}

/**************/
/* CSS REMEDY */
/**************/

*,
*::after,
*::before {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

button,
summary {
  cursor: pointer;
}

a {
  text-decoration: none;
  color: var(--primary-color-text);
}

li {
  list-style: none;
}

button {
  border: none;
  background-color: transparent;
}

header nav section:first-of-type,
main > section,
body > footer {
  padding: 0 var(--side-padding);
  scrollbar-color: var(--main-accent) transparent;
  scrollbar-width: thin;
}

/**************/
/* START CSS */
/**************/

/**************/
/* START NAV */
/**************/

html {
  font-size: 10px;
}

body {
  background-color: var(--primary-color-background);
  color: var(--primary-color-text);
  font-family: var(--primary-font);
  font-size: 1.4rem;
  line-height: 1.43;
  touch-action: manipulation;
}

span {
  font-family: var(--icon-font);
  font-size: 3.2rem;
  font-weight: 400;
  line-height: 1;
  width: 3.2rem;
  margin: 0 0.2rem 0 0.5rem;
}

nav > section:first-of-type {
  display: flex;
  justify-content: space-between;
  height: 6rem;
  align-items: center;
  width: 100%;
  margin-bottom: 0.5rem;
}

nav section:first-of-type div {
  display: flex;
  align-items: center;
}

nav ul {
  display: flex;
  gap: 0.8em;
}

nav li a,
button {
  font-family: var(--icon-font);
  font-size: 3.8rem;
  line-height: 1;
  color: var(--secondary-color-text);
  /* transition: 0.1s; */
}

nav section:first-of-type div button {
  font-size: 5rem;
  padding: 1rem;
  margin-left: -1rem;
}

nav li a:hover,
nav section:first-of-type div button:hover,
nav section:first-of-type div a:first-child:hover {
  color: var(--secondary-color-text-hover);
}

nav section:first-of-type div a:nth-child(2)::before {
  background: url("../images/nav.868410a1.png");
  background-color: var(--icon-fallback);
  background-repeat: repeat;
  background-attachment: scroll;
  background-image: url("../images/nav.868410a1@2x.png");
  background-origin: padding-box;
  background-clip: border-box;
  background-size: 15.4rem auto;
  background-position: var(--nav-icon-pos);
  content: "";
  height: 3.75rem;
  margin-right: auto;
  width: 13.1rem;
  display: block;
  flex-shrink: 0;
  transform: scale(1.2);
  margin-left: 2rem;
}

nav section:first-of-type > a {
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  height: 1px;
  overflow: hidden;
  position: absolute;
  white-space: nowrap;
  width: 1px;
}

nav section:first-of-type > a:focus {
  clip: unset;
  clip-path: none;
  height: auto;
  overflow: visible;
  position: unset;
  white-space: nowrap;
  width: auto;
}

nav section:last-of-type {
  position: fixed;
  height: 100%;
  width: 14.6rem;
  background-color: var(--sidemenu-background);
  top: 0;
  opacity: 1;
  z-index: 1;
  transition: 0.3s;
  transform: translateX(-100%);
  overflow: hidden;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

nav section:last-of-type.menuOpen {
  transform: translateX(0%);
}

nav section:last-of-type ul {
  flex-direction: column;
  gap: 0;
}

nav section:last-of-type ul:first-child li:not(:last-child):hover,
nav section:last-of-type ul:last-child li:hover {
  background-color: var(--sidemenu-background-hover);
}

nav section:last-of-type li a,
nav section:last-of-type ul:first-child button,
nav section:last-of-type ul:last-child button {
  color: var(--tertiary-color-text);
  padding: 0.8rem 0 0.8rem 1rem;
  min-height: 4.5rem;
  width: 100%;
  display: flex;
  align-items: center;
}

nav section:last-of-type ul:first-child button {
  padding-left: 1.6rem;
}

form {
  margin: 0.8rem 1rem 2rem 1rem;
}

form input {
  background-color: var(--form-background);
  border: 0.1rem solid var(--form-background);
  border-radius: 0.3rem;
  height: 3rem;
  line-height: 1;
  width: 100%;
  font-size: 1.6rem;
  color: var(--secondary-color-text);
  padding: 0.8rem;
}

form input:focus,
form input:hover {
  outline: 0;
  border-color: var(--form-color);
}

nav section:last-of-type ul:first-child li:not(:first-child) a {
  font-family: var(--primary-font);
  font-size: 1.6rem;
  font-weight: bold;
}

nav section:last-of-type ul:first-child li:nth-last-child(2) a {
  color: #52b1dc;
}

nav section:last-of-type ul:first-child li:not(:first-child) a::before {
  background: url("../images/nav.868410a1.png");
  background-color: var(--icon-fallback);
  background-repeat: repeat;
  background-attachment: scroll;
  background-image: url("../images/nav.868410a1@2x.png");
  background-origin: padding-box;
  background-clip: border-box;
  background-size: 15.4rem auto;
  content: "";
  display: block;
  height: 3rem;
  width: 3rem;
  margin-right: 1rem;
}

nav section:last-of-type ul:first-child li:nth-child(2) a::before {
  height: 2.15rem;
  background-position: 0.2rem -54.36rem;
  background-size: 18rem 158.7rem;
}

nav section:last-of-type ul:first-child li:nth-child(3) a::before {
  background-position: -2.1rem -7.8rem;
}

nav section:last-of-type ul:first-child li:nth-child(4) a::before {
  background-position: -2.3rem -11.4rem;
}

nav section:last-of-type ul:first-child li:nth-child(5) a::before {
  background-position: -2.3rem -15.15rem;
}

nav section:last-of-type ul:first-child li:nth-child(6) a::before {
  background-position: -2.3rem -18.75rem;
}

nav section:last-of-type ul:first-child li:nth-child(7) a::before {
  background-position: -2.3rem -33.75rem;
}

nav section:last-of-type ul:first-child li:nth-child(8) a::before {
  background-position: -2.3rem -22.65rem;
}

nav section:last-of-type ul:first-child li:nth-child(9) a::before {
  background-position: -2.3rem -26.25rem;
}

nav section:last-of-type ul:first-child li:nth-child(10) a::before {
  background-position: -2.3rem -30rem;
}

nav section:last-of-type ul:last-child {
  margin: auto 0 2.5rem;
}

nav section:last-of-type ul:last-child a,
nav section:last-of-type ul:last-child button {
  font-family: var(--primary-font);
  font-size: 1.3rem;
  font-weight: 600;
  color: var(--secondary-color-text);
  padding-top: 0;
  padding-bottom: 0;
  min-height: 0;
  text-align: left;
}

nav section:last-of-type ul:last-child li span {
  font-family: var(--icon-font);
  font-size: 3.2rem;
  font-weight: 400;
  line-height: 1;
  width: 3.2rem;
  margin: 0 0.2rem 0 0.5rem;
}

nav section:last-of-type ul:last-child li span:nth-child(2) {
  font-family: var(--primary-font);
  font-size: 1.3rem;
  font-weight: 600;
  color: inherit;
  width: auto;
  margin: 0;
}

nav section:last-of-type ul li a:hover,
nav section:last-of-type ul li button:hover {
  color: var(--primary-color-text);
}

footer ul {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  margin-top: 3rem;
  color: var(--footer-color-text);
  font-size: 1.2rem;
  font-weight: 600;
}

footer ul li a {
  padding: 0.5rem;
  padding-left: 0;
  color: inherit;
}

footer ul li:hover a {
  color: var(--primary-color-text);
}

footer ul:first-of-type li:not(:first-of-type) a::before {
  content: "|";
  margin-right: 0.5rem;
}

footer ul li:hover a::before {
  color: var(--footer-color-text);
}

footer ul:last-of-type {
  font-family: var(--icon-font);
  font-size: 3.4rem;
  margin-top: 1rem;
  font-weight: 400;
}

footer ul:last-of-type li a {
  padding: 0.5rem;
}

footer ul:last-of-type li:nth-child(2) {
  margin-right: 2rem;
}

footer ul:last-of-type li:nth-child(2):hover a,
footer ul:last-of-type li:nth-child(2) a:focus {
  color: #a3cc28;
}

footer ul:last-of-type li:nth-child(4):hover a,
footer ul:last-of-type li:nth-child(4) a:focus {
  color: #1da1f2;
}

footer ul:last-of-type li:nth-child(5):hover a,
footer ul:last-of-type li:nth-child(5) a:focus {
  color: #e12711;
}

footer ul:last-of-type li:nth-child(6):hover a,
footer ul:last-of-type li:nth-child(6) a:focus {
  color: #9146ff;
}

footer ul:last-of-type li:nth-child(7):hover a,
footer ul:last-of-type li:nth-child(7) a:focus {
  color: #e93a56;
}

footer ul:last-of-type li:nth-child(8):hover a,
footer ul:last-of-type li:nth-child(8) a:focus {
  color: #5865f2;
}

footer ul li a:active {
  color: white;
}
